/* THE CONTAINER*/
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*HIDE DEFAULT CHECKBOX*/
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* CREATE A CUSTOM CHECKBOX */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(38, 0, 255);
}

/* ADD GREY COLOR ON MOUSE-OVER */
.container:hover input ~ .checkmark {
    background-color: rgb(247, 223, 7);
}

/* WHEN BOX IS CHECKED, ADD LIGHTBLUE BACKGROUND */
.container input:checked ~ .checkmark {
    background-color: rgb(31, 128, 12);
}

/* CREATE CHECK MARK (HIDDEN WHEN NOT CHECKED */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/*SHOW CHECKMARK WHEN CHECKED*/
.container input:checked ~ .checkmark:after {
    display: block;
}

/* STYLE THE CHECKMARK*/
.container .checkmark:after {
    left: 9px;
    top: 2px;
    width: 5px;
    height: 15px;
    border: solid pink;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

/*STYLE THE SUBMIT BUTTON*/
.submit-btn {
    background-color:greenyellow;
    margin: 15px 0 15px 0;
    border-color:darkorange;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}